<link rel="stylesheet" href="/stylesheets/about.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Event Sapiens</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
          <a class="nav-link" href="login.html">
            Login/Signup
          </a> -->
          
          <li class="nav-item">
            <a class="nav-link" href="/users/about">About Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Current Events
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="#">Action</a>
            <a class="dropdown-item text-light" href="#">Another action</a>
            <a class="dropdown-item text-light" href="#">Something else here</a>
          </div>
        </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
      <h1 class="text">About Us</h1>
      <p class="para">Eventsapiens is a new way of managing, organizing and experiencing an event. It’s a 
          sophisticated all-in-one event management platform where you can join, get help or 
          can host your own event.</p>
          <h1 class="our">Our Mission</h1>
          <h2 class="our">Providing stress-free event hosting and joining</h2>
          <p class="para">We help to provide hassle-free access in events near you and help to organize smooth and
              stress-free events efficiently and effectively where you can forget all the hassles 
              of organizing and enjoy your beautiful events without any worry.</p>
    </div>
