<link rel="stylesheet" href="/stylesheets/about.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Event Sapiens</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
          <a class="nav-link" href="login.html">
            Login/Signup
          </a> -->
          
          <li class="nav-item">
            <a class="nav-link" href="/users/about">About Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Current Events
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="#">Action</a>
            <a class="dropdown-item text-light" href="#">Another action</a>
            <a class="dropdown-item text-light" href="#">Something else here</a>
          </div>
        </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <h1 class="text">Contact us</h1>

    <p class="para">Feel free to contact us by the following means for any buisness enquiries</p>
    <b></b>
    <b></b>
     <p class="para">Email us at eventsapiens@outlook.com</p>
     <b></b>
     <b></b>
     <b></b>
     <b></b>
     <p class="para">For Buisness Related Enquiries Reach To Us At :- 
       <b></b>
       7024460779
     </p>

     <p class="para">For Escalations and Other Querries Reach To Us At :- 
      <b></b>
      9551514238
    </p>

  </div>