<link rel="stylesheet" href="/stylesheets/style.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/users/welcome">Hi-Hello</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="/users/middle">
                Login/Signup
              </a>
              
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Current Events
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-light" href="#">Action</a>
                <a class="dropdown-item text-light" href="#">Another action</a>
                <a class="dropdown-item text-light" href="#">Something else here</a>
              </div>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactus">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="sty">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1573390609456-919e3ed0da7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80')">
              <a href="#">
                <div class="carousel-caption">
                <h3 class="display-4">First Slide</h3>
                <p class="lead">This is a description for the first slide.</p>
                </div>
              </a>
              </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1573422769616-c5a58e21b9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')">
                  <a href="#">
                    <div class="carousel-caption">
                      <h3 class="display-4">Second Slide</h3>
                      <p class="lead">This is a description for the second slide.</p>
                    </div>
                  </a>
              </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1508361001413-7a9dca21d08a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
            <a href="#"><div class="carousel-caption d-none d-md-block">
              <h3 class="display-4">Third Slide</h3>
              <p class="lead">This is a description for the third slide.</p>
            </div></a>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
            <a href="#"><div class="carousel-caption d-none d-md-block">
              <h3 class="display-4">fourth Slide</h3>
              <p class="lead">This is a description for the third slide.</p>
            </div></a>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
            <a href="#"><div class="carousel-caption d-none d-md-block">
              <h3 class="display-4">Fifth Slide</h3>
              <p class="lead">This is a description for the third slide.</p>
            </div></a>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
            <a href="#"><div class="carousel-caption d-none d-md-block">
              <h3 class="display-4">Sixth Slide</h3>
              <p class="lead">This is a description for the third slide.</p>
            </div></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
      </div>
    
      <div id="own">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 text-seondary">
                      <div id="content">
                         <h1 >HI-HI</h1>
                         <h3>The only App to get a chillpill ...!</h3>
                         <hr>
                         <button class="btn btn-default btn-lg">Let's Get Started</button>
                      </div>
                 </div>
              </div>
    
          <div>
            <a name="contactus"> demo</a>
          </div>
         </div>
      </div>